// Chrome applies an 8px margin by default (gross).
body {
    margin: 0;
}

.popupContainer {
    align-items: center;
    display: flex;
    font-size: 20px;
    height: 300px;
    justify-content: center;
    width: 250px;
    padding: 10px;
}
