// Chrome applies an 8px margin by default (gross).
body {
  margin: 0;
}

.popupContainer {
  align-items: center;
  display: flex;

  min-height: 190px;
  justify-content: center;
  width: 250px;
  padding: 10px;

  & > div {
    margin-bottom: 10px;
  }

  .form-title {
    font-size: 25px;
  }

  .form-tip {
    font-size: 10px;
    font-weight: lighter;
  }

  .content-area{
    font-size: 12px;
    min-height: 200px;
  }
}

