// Chrome applies an 8px margin by default (gross).
body {
  margin: 0;
}

.popupContainer {
  align-items: center;
  display: flex;

  min-height: 190px;
  justify-content: center;
  width: 250px;
  padding: 10px;

  & > div {
    margin-bottom: 10px;
  }

  .form-title {
    font-size: 20px;
  }

  .form-tip {
    font-size: 10px;
    font-weight: lighter;
  }
}

.settings-form {
  .form-check {
    margin-bottom: 10px;
    font-size: small;
  }

  .form-check-label {
    margin-top: 2px;
  }
}

